{% extends 'seller/seller_base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="row container-fluid">
    <div class="view-orders m-3 col-12">
        <div class="p-3 view-orders-container border rounded shadow-lg bg-white">
            <center><h2>Orders</h2></center>
            <div style="overflow: auto;">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Pickup Time</th>
                      <th scope="col">Status</th>
                      <th scope="col">Payment Type</th>
                      <th scope="col">Payment Status</th>
                      <th scope="col">Notes</th>
                    </tr>
                  </thead>
            {% for order in orders %}
            <tbody>
                  <tr class="table-row" data-id={{order.id}} data-type="order">
                    <td>{{order.name}}</td>
                    <td>{{order.email}}</td>
                    <td>{{order.pickup_time}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.payment_type}}</td>
                    <td>{{order.payment_status}}</td>
                    <td>{{order.notes}}</td>
                </tr>
              </tbody>
            {% endfor %}
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}  