{% extends 'seller/seller_base.html' %}

{% block title %}{{prod.name}}{% endblock %}

{% block content %}
<div class="row container-fluid">
    <div class="view-product col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-5">
        <div class="col-12">
            <div class="p-3 view-product-container border rounded shadow-lg">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div>
                        <center><h2 class="p-3">{{prod.name}}</h2></center>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 d-flex justify-content-center mb-3">
                        <img src="{{'https://kids-krafts.s3.us-east-2.amazonaws.com/' +  prod.image_url}}" height="222" width="222">
                    </div>
                    <div class="d-none d-sm-inline col-sm-6 d-flex justify-content-start align-items-center my-3">
                        <ul class="list-group">
                        {% for sub in prod.subproducts %}
                            <li class="list-group-item" style="font-size: 20px;">{{sub.name}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                        <div class="col-sm-12 d-md-5 d-flex justify-content-center p-3">
                            <div class="d-flex" style="overflow: auto;">
                            {% for sub in prod.subproducts %}
                            <div class="d-flex flex-column align-items-center">
                                <img src="{{'https://kids-krafts.s3.us-east-2.amazonaws.com/' +  sub.image_url}}" height="130" width="130">
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    <div data-sect="purchase_sect" data-id="{{prod.id}}" data-name="{{prod.name}}" data-image="{{'https://kids-krafts.s3.us-east-2.amazonaws.com/' +  prod.image_url}}" data-price="{{prod.price}}" class="col-12 d-flex align-items-center justify-content-center">
                        <h4 class="mt-3 mx-3">${{'%0.2f'|format(prod.price|float)}}</h4>
                        <a class="add-{{prod.id}} h6 mt-3 btn btn-md btn-primary text-white"><i class="fas fa-plus"></i>  <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-0 p-3 add-subproduct-container border rounded shadow-lg d-none d-lg-block">
        <center><h2>Add a Subproduct</h2></center>
        <form class="" action="/products/{{prod.id}}/subproducts" method="POST" enctype="multipart/form-data" style="overflow: hidden;">
            <div class="col-12">
                    <label for="subproduct-name">Name</label>
                    <input type="text" name="subproduct_name" class="form-control" id="subproduct-name" placeholder="Name" required>
                    <br>
                    <label for="subproduct-image">Image URL</label>
                    <br>
                    <input type="file" name="subproduct_image" class="form-control-file mt-1" id="subproduct-image" placeholder="Image URL" required>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Add</button>
            </div>
            </form>
        </div>
    </div>   
    <div class="edit-product col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-7">
            <div class="p-3 edit-product-container border rounded shadow-lg">
            <center><h2>Edit Product</h2></center>
            <form method="POST" action="/products/{{prod.id}}" enctype="multipart/form-data" style="overflow: hidden">
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="product-name">Name</label>
                        <input type="text" name="product_name" class="form-control" id="product-name" required value="{{prod.name}}">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="product-image">Image</label>
                        <br>
                        <input type="file" name="product_image" class="form-control-file mt-1" id="product-image" value="{{prod.image_url}}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="product-price">Price</label>
                        <input type="float" name="product_price" id="product-price" class="form-control" value={{prod.price}} required>
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="product-selling-status">Selling Status</label>
                        <select id="product-selling-status" name="product_selling_status" class="form-control" required>
                            {% if prod.category=="Selling" %}
                            <option selected>Selling</option>
                            {% else %}
                            <option>Selling</option>
                            {% endif %}
                            {% if prod.category == "Not Selling" %}
                            <option selected>Not Selling</option>
                            {% else %}
                            <option>Not Selling</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/products/{{prod.id}}/delete" class="btn btn-danger mx-3">Delete</a>
            </form>
            </div>
            <div class="p-3 add-subproduct-container border rounded shadow-lg d-lg-none">
                <center><h2>Add a Subproduct</h2></center>
                <form class="mt-3" action="/products/{{prod.id}}/subproducts" method="POST" enctype="multipart/form-data" style="overflow: hidden;">
                    <div class="row">
                    <div class="col-12 col-sm-6 col-lg-12">
                            <label for="subproduct-name">Name</label>
                            <input type="text" name="subproduct_name" class="form-control" id="subproduct-name" placeholder="Name" required>
                    </div>
                    <br>
                    <div class="col-12 col-sm-6 col-lg-12">
                            <label for="subproduct-image">Image URL</label>
                            <br>
                            <input type="file" name="subproduct_image" class="form-control-file mt-1" id="subproduct-image" placeholder="Image URL" required>
                            </div><br>
                </div>
                            <button type="submit" class="mt-3 btn btn-primary">Add</button>

                    </form>
                </div>
            <div class="mb-3 p-3 edit-product-container border rounded shadow-lg">
            <center><h2>Edit Subproducts</h2></center>
            <div class="row">
                {% for sub in prod.subproducts %}
                <div class="col-12 col-sm-6">
                    <form class="mt-3" action="/products/{{prod.id}}/subproducts/{{sub.id}}" method="POST" enctype="multipart/form-data" style="overflow: hidden;">
                        <label for="subproduct-name">Name</label>
                        <input type="text" name="subproduct_name" class="form-control" id="subproduct-name" value="{{sub.name}}" required>
                        <br>
                        <label for="subproduct-image">Image URL</label>
                        <br>
                        <input type="file" name="subproduct_image" class="form-control-file mt-1" id="subproduct-image" value="{{sub.image_url}}">
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-danger mx-3" href="/products/{{prod.id}}/subproducts/{{sub.id}}/delete">Delete</a>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}  
