{% extends 'customer/customer_base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid bg-white p-3" style="min-height: calc(100vh - 105px);">
    <div class="p-3 d-flex align-items-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
            <center class="my-5"><span class="p-3 h2 bg-white rounded">😃 About Us</span></center>

            <li class="list-group-item">Kids Krafts was created in February 2021 when Sharon had the idea of creating and marketing kids craft kits to friends and family.</li>
            <li class="list-group-item">This venture provides an opportunity for her daughter, Kendra, to have a sense of purpose and develop future job skills. Kendra has cerebral palsy, executive function difficulties and a history of neuro-psychiatric autoimmune disease.</li>
            <li class="list-group-item">Each month, Kendra helps select crafts and make samples, assists in defining the craft steps for the direction sheets, and assembles kits. Kids Krafts offers opportunity to grow in budgeting, computer, and other planning and administrative areas, strengthens fine and gross motor skills, and gives Kendra a sense of pride that she is using her God-given gifts to help others.</li>
            <li class="list-group-item">We hope you and the child in your life will have fun doing these crafts together!</li>
        </div>
    </div>
    <div class="p-3 d-flex align-items-center justify-content-center">
        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
        <center><img class="person mb-4 mx-2" src="../static/images/kendra.png" alt=""></center>
        <center><b>Kendra Schreur</b></center>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
        <center><img class="person mb-4 mx-2" src="../static/images/sharon2.png" alt=""></center>
        <center><b>Sharon Schreur</b></center>
        </div>
    </div>
        <div class="p-3 d-flex align-items-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
            <center class="my-5"><span class="p-3 h2 bg-white rounded">Social 👋</span></center>
            <center>
                <a target="_blank" href="https://www.facebook.com/Kids-Krafts-166612741680617" class="facebook"><i class="fa fa-facebook-square m-3 fa-4x"></i></a>
                <a target="_blank" href="https://www.instagram.com/kidskrafts4u/" class="instagram"><i class="fab fa-instagram m-3 fa-4x"></i></a>
            </center>
        </div>
    </div>
</div>
{% endblock %} 