{% extends 'customer/customer_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <!-- <div class="row no-gutters bg-white" style="width: 100vw;">
        <div class="shop" style="text-align: center; position: relative; height: 0;"><a class="m-2 m-sm-3 btn btn-md btn-primary text-white" href="/shop">Shop</a></div>
        {% for image in images|shuffle %}
        {% if loop.index <= 2 %}
        <div class="top-image col-6 col-md-3 col-xl-2 bg-white p-3" style="overflow: hidden;">
            <img class="border-0" style="object-fit: cover; max-height: 100%; min-height: 100%; max-width: 100%; min-width: 100%;" src="{{'https://kids-krafts.s3.us-east-2.amazonaws.com/' + image}}" alt="">
        </div> 
         {% endif %}
        {% if loop.index > 2 and loop.index <= 4 %}
        <div class="top-image col-6 col-md-3 col-xl-2 bg-white p-3 d-none d-md-block" style="overflow: hidden; height: 300px;">
            <img class="border-0" style="object-fit: cover; max-height: 100%; min-height: 100%; max-width: 100%; min-width: 100%;" src="{{'https://kids-krafts.s3.us-east-2.amazonaws.com/' +  image}}" alt="">
        </div> 
         {% endif %}
        {% if loop.index > 4 and loop.index <= 6 %}
        <div class="top-image col-6 col-md-3 col-xl-2 bg-white p-3 d-none d-xl-block" style="overflow: hidden; height: 300px;">
            <img class="border-0" style="object-fit: cover; max-height: 100%; min-height: 100%; max-width: 100%; min-width: 100%;" src="{{'https://kids-krafts.s3.us-east-2.amazonaws.com/' + image}}" alt="">
        </div> 
         {% endif %}
        {% endfor %}
    </div>   -->
</div>
<center><h2 class="my-5 text-3xl font-extrabold text-center text-gray-900 sm:text-4xl"> ✨ How It Works </h2></center>
<div class="container d-flex justify-content-center">
    <div class="row m-3 d-flex">
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="card mb-3" style="width: 18rem;">
                <center>
                    <img class="card-img-top m-3 top-image" style="width: calc(100% - 2rem); object-fit: cover; height: 250px" src="../static/images/craft-kits.png">
                </center>
                <div class="card-body">
                  <h5 class="card-title">Craft Kits</h5>
                  <p class="card-text">Kits include several crafts, each with a set of instructions.</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="card mb-3" style="width: 18rem;">
                <center>
                    <div style="width: calc(100% - 2rem); object-fit: cover; height: 250px;"> <img class="card-img-top m-3" src="../static/images/craft-supplies.png"></div>
                   
                </center>
                <div class="card-body">
                  <h5 class="card-title">Craft Supplies</h5>
                  <p class="card-text">Crafts come with all materials except for basic supplies (i.e. scissors, glue, coloring utensils).</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="card mb-3" style="width: 18rem;">
                <center>
                    <img class="card-img-top m-3" style="width: calc(100% - 2rem); object-fit: cover; height: 250px;" src="../static/images/pickup-or-shipping.png">
                </center>
                <div class="card-body">
                  <h5 class="card-title">Pickup or Shipping</h5>
                  <p class="card-text">Kits will be available for pickup or shipping around the start of each month.</p>
                </div>
              </div>
        </div>
    </div>
</div>

<center>
<div class="container-fluid bg-white p-3">
    <center class="my-5"><span class="p-3 h2 bg-white rounded"> People ❤️ Kids Krafts </span></center>
    <div class="row">
        <div class="mb-3 col-12 col-lg-6 pb-3 d-flex justify-content-center justify-content-lg-end">
           <img src="../../../static/images/feb_kits.jpg" class="quote-and-image">
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column align-items-center align-items-lg-start">
            <span class="quote-and-image pb-3">
                <ul class="list-group">
                <li class="list-group-item text-start">She loves doing them and I like having everything ready to go <br><span>-Karen K.</span></li>
                <br>
                <li class="list-group-item text-start">CMy daughter did the firetruck and the flower craft this afternoon and said “I love these crafts they make my heart happy” <br>-Michelle K.</li>
                <br>
                <li class="list-group-item text-start">THANK YOU Kids Krafts for our FUN afternoon of crafting!! We LOVED our craft kit this month!! <br>-Becca B.</li>
                <br>
                <li class="list-group-item text-start">We had so much fun making the taco 😊 Thanks again!<br>-Sara B.</li>
            </ul>
            </span>
        </div>
    </div>
</div>
</center>
{% endblock %} 