html {
	overflow-y: scroll;
}

body {
	background-color: #eceff1;
}

.side {
	height: 99vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.login-form {
	height: 99vh;
	display: flex;
	align-items: center;
	padding-left: 5vw;
}

@media screen and (max-width: 768px) {
	.side {
		padding: 15px;
		height: 10vh;
		flex-direction: row;
	}
	.login-form {
		display: flex;
		height: 90vh;
		justify-content: center;
		align-items: flex-start;
		padding-top: 30px;
	}
	#big-logo {
		display: none;
	}
}

.login-inputs {
	width: 400px;
	height: 40px;
}

#big-logo {
	margin-bottom: 30px;
	max-width: 100%;
	max-height: 100%;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: contain;
	background-position: center;
	background-image: url("../static/images/first_logo.png");
}

#small-logo {
	width: 75px;
	height: 75px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	background-position: left;
	background-image: url("../static/images/first_logo.png");
	border-radius: 50%;
}

.add-product {
	height: 100%;
}

.view-products {
	height: 100%;
}

.add-product-container,
.view-products-container {
	display: flex-inline;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	margin: 20px;
}

.prod-img {
	width: 100px;
	height: 100px;
}

.table-row:hover {
	background: #eceff1;
}

.prod-big-img {
	width: 300px;
	height: 300px;
}

.view-product {
	height: 100%;
}
.edit-product {
	height: 100%;
}

.edit-product-container,
.view-product-container,
.add-subproduct-container {
	display: flex-inline;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	margin: 20px;
}
